.expContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  height: 80%;
  padding-top: 2%;
}

.expContainer--intro {
  width: 80%;
}

.expContainer--technology {
  width: 20%;
  text-align: center;
  letter-spacing: 0.5px;
}

.expContainer--intro--work {
  min-height: 40%;
  padding: 5%;
  padding-top: 2%;
}
.expContainer--intro--stats {
  padding: 5%;
  padding-top: 2%;
  font-size: 1.4rem;
}

.expContainer--intro--stats h2 {
  padding-bottom: 2%;
  font-size: 1.8rem;
  font-weight: bold;
}

.expContainer--intro--stats p {
  padding-bottom: 1%;
}
.expContainer--intro--work h1 {
  padding-bottom: 3%;
  font-size: 2rem;
  font-weight: bold;
}

.statsDescription {
  display: flex;
  padding-left: 2%;
}
.statsDescription > p:first-of-type {
  width: 25%;
}

.statsDescription > p:nth-of-type(2) {
  width: 7%;
  text-align: end;
}

.placeAndTime {
  display: flex;
  margin-bottom: 2%;
  font-size: 1.5rem;
}
.placeAndTime > p:first-of-type {
  width: 25%;
  padding-left: 2%;
  font-style: italic;
}

.technology--heading {
  font-size: 1.7rem;
  font-weight: bold;
}

.technology--content {
  display: flex;
}

.variables {
  width: 50%;
}

.variables p {
  padding-top: 20%;
  text-align: start;
  font-size: 1.2rem;
  padding-left: 20%;
}

.stars {
  width: 50%;
  font-size: 1.2rem;
}

.stars p {
  padding-top: 20%;
  text-align: start;
}
