:root {
  /* --bar: 1px solid black; */
}

.expContainer {
  width: 94%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  padding-top: 2%;
  border: var(--bar);
}

.expContainer--intro {
  width: 100%;
  border: var(--bar);
}

.expContainer--intro--work {
  min-height: 40%;
  padding: 1%;
  padding-top: 2%;
  border: var(--bar);
}
.expContainer--intro--stats {
  border: var(--bar);
  padding: 2%;
  padding-top: 2%;
  font-size: 1.4rem;
}

.expContainer--intro--stats h2 {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  border: var(--bar);
  transition: all 0.2s ease;
  margin: 3% auto;
  width: 40%;
  letter-spacing: 1px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.expContainer--intro--stats p {
  padding: 1%;
  text-align: center;
  border: var(--bar);
  transition: all 0.2s ease;
}
.expContainer--intro--work h1 {
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 3%;
  font-size: 2rem;
  font-weight: bold;
  border: var(--bar);
  transition: all 0.2s ease;
  text-align: center;
  margin-bottom: 3%;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.statsDescription {
  display: flex;
  justify-content: center;
  padding-right: 10%;
  border: var(--bar);
  margin-top: 1%;
}
.statsDescription > p:first-of-type {
  width: 26%;
  /* border: var(--bar); */
  transition: all 0.2s ease;
  margin-bottom: 2%;
  text-align: center;
  background-color: rgba(193, 176, 22, 0.07);
  border-radius: 3%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.statsDescription > p:nth-of-type(2) {
  width: 9%;
  text-align: center;
  border: var(--bar);
  transition: all 0.2s ease;
  margin-bottom: 2%;
  margin-left: 10%;
  background-color: rgba(193, 176, 22, 0.07);
  border-radius: 3%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

/* .placeAndTime {
  display: flex;
  margin-bottom: 4%;
  font-size: 1.5rem;
  border: var(--bar);
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
}
.placeAndTime > p:first-of-type {
  width: 50%;
  padding-left: 2%;
  margin-bottom: 10px;
  font-style: italic;
  border: var(--bar);
  transition: all 0.2s ease;
} */

.DateParagraphs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 35px;
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5;
}

.DateParagraphs .paragraph:nth-child(1) {
  grid-column: 2 / 3;
}
.DateParagraphs .paragraph:nth-child(2) {
  grid-column: 3 / 4;
}
.elementFirst {
  grid-column: 2 / 3;
}
.elementSecond {
  grid-column: 3 / 4;
}

.DateParagraphs .joined {
  grid-column: 2 / 3;
}

.DateParagraphs .still {
  grid-column: 3 / 4;
}

.paragraph {
  padding: 1%;
  margin-bottom: 3%;
  margin-top: 2%;
}

.largeMain {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1%;
  letter-spacing: 1px;
  padding: 1%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.additionalMargin {
  margin-bottom: 4%;
}

.large {
  /* text-align: center; */
  grid-column: 1 / 5;
}
.large:last-child {
  /* text-align: center; */
  margin-top: 1%;
  margin-bottom: 20px;
  padding: 0 2%;
}

.joined {
  background-color: rgba(160, 235, 160, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.still {
  background-color: rgba(208, 248, 128, 0.216);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.left {
  background-color: rgba(120, 71, 78, 0.0921);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1600px) {
  .stars {
    font-size: 15px;
  }

  .variables {
    font-size: 16px;
  }

  .technology--heading {
    font-size: 1.5rem;
  }

  .expContainer--intro--stats h2 {
    padding-bottom: 1%;
    font-size: 1.5rem;
  }
  .expContainer--intro--stats p {
    padding-bottom: 1%;
  }
  .expContainer--intro--work h1 {
    padding-bottom: 15px;
    font-size: 1.5rem;
  }
  .expContainer--intro--stats {
    padding: 4%;
    padding-top: 1%;
    font-size: 1.2rem;
  }

  .placeAndTime {
    margin-bottom: 3%;
    font-size: 1.2rem;
    border: var(--bar);
    display: flex;
    flex-direction: column;
  }
  .statsDescription > p:first-of-type {
    width: 35%;
  }
  .statsDescription > p:nth-of-type(2) {
    width: 10%;
  }
}

@media (max-width: 1100px) {
  .expContainer {
    flex-direction: column;
  }
  .expContainer--intro {
    width: 100%;
  }
  .expContainer--technology {
    width: 80%;
    margin: 0 auto;
  }
  .statsDescription {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .expContainer--intro--stats h2 {
    text-align: center;
  }

  .statsDescription > p:first-of-type {
    width: 60%;
  }

  .statsDescription > p:nth-of-type(2) {
    width: 30%;
  }
  .placeAndTime {
    text-align: center;
  }
  .placeAndTime > p:first-of-type {
    width: 100%;
  }
  .expContainer--intro--work h1 {
    text-align: center;
  }
  .technology--heading {
    margin-left: 0;
  }

  .technology--content {
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .stars {
    font-size: 13px;
  }

  .variables {
    font-size: 14px;
  }

  .expContainer--intro--stats h2 {
    font-size: 1.2rem;
  }
  .expContainer--intro--stats p {
    padding-bottom: 1%;
  }
  .expContainer--intro--work h1 {
    padding-bottom: 10px;
    font-size: 1.3rem;
  }
  .expContainer--intro--stats {
    padding: 4%;
    padding-top: 1%;
    font-size: 1rem;
  }

  .placeAndTime {
    font-size: 1rem;
    margin-bottom: 2%;
  }
  .placeAndTime > p:first-of-type {
    margin-bottom: 7px;
  }

  .additionalMargin {
    margin-bottom: 60px;
  }

  .paragraph {
    font-size: 1rem;
  }
  .large {
    font-size: 1.2rem;
  }
}

@media (max-width: 750px) {
  .technology--heading {
    font-size: 1.1rem;
  }
  .large {
    font-size: 1.1rem;
  }

  .expContainer--intro--work h1 {
    padding-bottom: 5px;
    margin-bottom: 80px;
    /* font-size: 1rem; */
  }

  .placeAndTime {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }
  .placeAndTime > p:first-of-type {
    margin-bottom: 5px;
  }
}

@media (max-width: 750px) {
  .DateParagraphs {
    flex-direction: column;
    display: flex;
    margin: 0;
  }
  .paragraph {
    margin: 0 auto;

    padding: 2px 2px;
    width: 50%;
  }
}

@media (max-width: 650px) {
  .expContainer--intro--work {
    margin-top: 45px;
  }
}
