:root {
  /* show border */
  --border: black 2px solid;
  --border: none;
  /* spacing  */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  /* width */
  --standard-width: 1344px;
  --section-width: 1200px;

  /* font size */
  --font-sm: 13px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Inter", sans-serif; */
}

body {
  /* background-image: linear-gradient(to bottom right, #ebe6e1, #e2d1c3); */
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  /* background-color: #f9fcff; */
  /* background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%); */

  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button:focus {
  outline: none;
}

/* ------------------------------------------------------------------------------- */
/* NAVBAR  SECTION */

html {
  height: 100vh;
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}

.container {
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  z-index: 10;
  height: auto;
  overflow-x: hidden;
}
@media (min-width: 1200px) {
  .container {
    overflow-y: hidden;
  }
}

.flex__class {
  display: flex;
  justify-content: center;
}
.container__home {
  display: flex;
  height: 100%;
  width: 99%;
  padding-top: 1%;
  border: var(--border);
}
.first__container__content {
  width: 40%;

  padding: 3% 5%;
  padding-left: 7%;
}

.container__h1 {
  display: flex;
  justify-content: space-between;
  border: var(--border);
}

.first__container__content h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 2% 0;
  margin-left: 20px;
  margin-bottom: 30px;
  letter-spacing: 0.18px;
  line-height: 130%;
  border: var(--border);
  transition: all 0.4s;
  line-height: 1.7;
}

.colorContainer {
  width: 50%;
  margin-top: 20px;
  height: auto;
}

.hrIndex {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 40px;
  box-shadow: 2px 1px 2px #0000003f;
}

.expContainer--technology {
  width: 70%;
  text-align: center;
  letter-spacing: 0.5px;
  margin: 10px auto;
  opacity: 0;
  animation: transfer 1s ease-in-out 4s;
}

@keyframes transfer {
  0% {
    transform: translateY(130px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.technology--heading {
  font-size: 1.7rem;
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  letter-spacing: 1.3px;
  height: 45px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border-radius: 4%;
  align-items: center;
  background-color: rgb(171, 171, 160);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.technology--content {
  display: flex;
  background-color: rgba(255, 255, 255, 0.262);
}

.variables {
  width: 50%;
  font-size: 20px;
  letter-spacing: 1.6px;
}

.variables p {
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--bar);
  height: 20px;
  transition: all 0.2s ease;
  padding: 26px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  box-shadow: 0px 5px 5px rgba(197, 194, 194, 0.1);
}

.variables p:last-child {
  border-bottom: none;
}

.stars {
  width: 50%;
  font-size: 18px;
  border: var(--bar);
}

.stars p {
  text-align: start;
  border: var(--bar);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  /* margin-bottom: 10px; */
  /* margin-top: 10px; */
  transition: all 0.2s ease;
  padding: 26px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  box-shadow: 0px 5px 5px rgba(197, 194, 194, 0.1);
}

.stars p:last-child {
  border-bottom: none;
}

@keyframes ColorEx {
  0% {
    color: white;
  }
  100% {
    color: #ffd43b;
  }
}

.firstStarMove {
  animation: ColorEx 0.9s linear forwards;
}

.secondStarMove {
  animation: ColorEx 0.9s linear forwards;
  animation-delay: 0.5s; /* Delay the animation start by 1 second */
}

.thirdStarMove {
  animation: ColorEx 0.9s linear forwards;
  animation-delay: 1s;
}

.forthStarMove {
  animation: ColorEx 0.9s linear forwards;
  animation-delay: 1.5s;
}

.first__container__contact {
  width: 30%;
  margin-right: 0;
  border: var(--border);
  display: flex;
  flex-direction: column;
  height: auto;
}

.portret {
  width: 60%;
  margin: 20px auto;
}

.curtain {
  position: relative;
  display: flex;
  justify-content: center;
  border: var(--border);
  transition: all 0.5s;
}
.curtain li {
  position: relative;
  list-style: none;
  cursor: pointer;
  margin: 2% 5%;
  border: var(--border);
}
.curtain li a {
  text-decoration: none;
}
.curtain li a .fa-brands {
  font-size: 5em;
  color: #000000;
}
.curtain li a::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 5em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.curtain li:nth-child(1) a::before {
  content: "\f09b";
  color: #ffffff;
}
.curtain li:nth-child(2) a::before {
  content: "\f08c";
  color: #1da1f2;
}
.curtain li:hover a::before {
  height: 100%;
}

.mail__container {
  padding: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.mail__link {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.mailTwo {
  margin-left: 4px;
}

.mail__link:hover {
  color: white;
}

.codewars__paragraph:hover {
  color: rgb(255, 0, 0);
}

.fa-sharp {
  border: var(--border);
  margin-right: 2px;
  margin-top: 2px;
}

a {
  text-decoration: none;
}

.codewars__paragraph {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.codewars__icon {
  width: 1.4rem;
  border: var(--border);
  margin-right: 5px;
}

.primary__download__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.download__container__one {
  margin-right: 20px;
}

.download__container__two {
  margin-left: 20px;
}

.download {
  background-color: rgb(195, 190, 168);
  border: none;
  border-radius: 6px;
  color: white;
  padding: 8px 14px;
  width: 150px;
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 10px;
}

.download a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.download:hover {
  background-color: rgb(169, 165, 146);
}

@media (max-width: 1760px) {
  .mail__link {
    font-size: 1.2rem;
  }
  .codewars__paragraph {
    font-size: 1rem;
  }

  .curtain li a .fa-brands {
    font-size: 4em;
  }

  .codewars__icon {
    width: 1.2rem;
  }

  .curtain li a::before {
    font-size: 4em;
  }

  .first__container__content h1 {
    font-size: 1.5rem;
  }

  .first__container__content h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 1470px) {
  .technology--heading {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  .mail__link {
    font-size: 1.2rem;
  }
  .codewars__paragraph {
    font-size: 1.2rem;
  }

  .codewars__icon {
    width: 1rem;
  }

  .curtain li a .fa-brands {
    font-size: 3em;
  }

  .curtain li a::before {
    font-size: 3em;
  }

  .first__container__content h1 {
    font-size: 1.3rem;
  }
}

@media (max-width: 1200px) {
  .colorContainer {
    width: 90%;
  }
  .technology--heading {
    font-size: 1.5rem;
  }

  .expContainer--technology {
    width: 50%;
  }
  .container__home {
    flex-direction: column;
    align-items: center;
  }

  .first__container__content {
    width: 92%;
  }
  .first__container__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .mail__link {
    width: auto;
    margin: 10px auto;
  }
  .curtain {
    margin: 20px 0px;
  }

  .curtain li a .fa-brands {
    font-size: 5em;
  }

  .curtain li a::before {
    font-size: 5em;
  }
}

@media (max-width: 900px) {
  .first__container__content h2 {
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .container__h1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .expContainer--technology {
    width: 82%;
    margin-bottom: 50px;
  }
}

@media (max-width: 560px) {
  .container__home {
    width: 95%;
  }

  .first__container__content {
    width: 94%;
  }
}

.firstH {
  width: 350px;
  animation: slideToLeft 1s ease-in-out;
  opacity: 0;
}

.secondH {
  width: 420px;
  animation: slideToLeft 1s ease-in-out 1s;
  opacity: 0;
}

.thirdH {
  width: 380px;
  animation: slideToLeft 1s ease-in-out 2s;
  opacity: 0;
}

.fourthH {
  width: 300px;
  animation: slideToLeft 1s ease-in-out 3s;
  opacity: 0;
}

@keyframes slideToLeft {
  0% {
    transform: translateX(100%); /* Move offscreen to the right */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* Move back to the original position */
    opacity: 1;
  }
}

.first__container__content .visibleHeader {
  opacity: 1;
}

@media (max-width: 400px) {
  .container__home .firstH,
  .container__home .secondH,
  .container__home .thirdH {
    font-size: 1rem;
    margin: 2px 1px;
    margin-bottom: 24px;
  }
  .container__home .fourthH {
    font-size: 1rem;
    margin: 2px 1px;
  }
}

.engCV {
  width: 20px;
  /* margin-top: 10px; */
  margin-right: 3px;
}

.polCV {
  width: 17px;
  margin-right: 3px;
}
