:root {
  /* show border */
  --border: black 2px solid;
  --border: none;
  /* spacing  */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  /* width */
  --standard-width: 1344px;
  --section-width: 1200px;

  /* font size */
  --font-sm: 13px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Inter", sans-serif; */
}

body {
  background-image: linear-gradient(to bottom right, #ebe6e1, #e2d1c3);
  /* background-color: #f9fcff; */
  /* background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%); */

  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button:focus {
  outline: none;
}

/* ------------------------------------------------------------------------------- */
/* NAVBAR  SECTION */

html {
  height: 100vh;
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}

body {
}

.container {
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  z-index: 10;
  height: auto;
}

.flex__class {
  display: flex;
  justify-content: center;
}
.container__home {
  display: flex;
  height: 100%;
  width: 90%;
  padding-top: 1%;
  border: var(--border);
}
.first__container__content {
  width: 80%;
  padding: 2% 5%;
}

.container__h1 {
  display: flex;
  justify-content: space-between;
  border: var(--border);
}

.first__container__content h1 {
  font-size: 1.8rem;
  margin-bottom: 3%;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.4px;
  border: var(--border);
}
.first__container__content h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 2% 0;
  letter-spacing: 0.15px;
  line-height: 120%;
  border: var(--border);
  transition: all 0.4s;
}

.first__container__contact {
  width: 20%;
  border: var(--border);

  display: flex;
  flex-direction: column;
}

.portret {
  width: 60%;
  margin: 20px auto;

  /*  */
}

.curtain {
  position: relative;
  display: flex;
  justify-content: center;
  border: var(--border);
  transition: all 0.5s;
}
.curtain li {
  position: relative;
  list-style: none;
  cursor: pointer;
  margin: 2% 5%;
  border: var(--border);
}
.curtain li a {
  text-decoration: none;
}
.curtain li a .fa-brands {
  font-size: 5em;
  color: #000000;
  border: var(--border);
}
.curtain li a::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 5em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  border: var(--border);
}

.curtain li:nth-child(1) a::before {
  content: "\f09b";
  color: #ffffff;
  /* border-bottom: 4px solid #ffffff; */
}
.curtain li:nth-child(2) a::before {
  content: "\f08c";
  color: #1da1f2;
  /* border-bottom: 4px solid #0077b5; */
}
.curtain li:hover a::before {
  height: 100%;
}

.mail__link {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  text-align: left;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 3%;
  border: var(--border);
}

.mail__link:hover {
  color: white;
}

.codewars__paragraph:hover {
  color: rgb(255, 0, 0);
}

.fa-sharp {
  border: var(--border);
  margin-right: 2px;
}

a {
  text-decoration: none;
}

.codewars__paragraph {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  display: flex;
  text-align: left;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 3%;
  cursor: pointer;
  border: var(--border);
}

.codewars__icon {
  width: 1.4rem;
  border: var(--border);
  margin-right: 5px;
}

.hrIndex {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 40px;
  box-shadow: 2px 1px 2px #0000003f;
}

@media (max-width: 1760px) {
  .mail__link {
    font-size: 1rem;
  }
  .codewars__paragraph {
    font-size: 1rem;
  }

  .curtain li a .fa-brands {
    font-size: 4em;
  }

  .codewars__icon {
    width: 1.2rem;
  }

  .curtain li a::before {
    font-size: 4em;
  }

  .first__container__content h1 {
    font-size: 1.5rem;
  }

  .first__container__content h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 1470px) {
  .mail__link {
    font-size: 0.8rem;
  }
  .codewars__paragraph {
    font-size: 0.8rem;
  }

  .codewars__icon {
    width: 1rem;
  }

  .curtain li a .fa-brands {
    font-size: 3em;
  }

  .curtain li a::before {
    font-size: 3em;
  }

  .first__container__content h1 {
    font-size: 1.3rem;
  }

  .first__container__content h2 {
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  .container__home {
    flex-direction: column;
    align-items: center;
  }

  .first__container__content {
    width: 92%;
  }
  .first__container__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .mail__link {
    width: auto;
    margin: 10px auto;
  }
  .curtain {
    margin: 20px 0px;
  }

  .curtain li a .fa-brands {
    font-size: 5em;
  }

  .curtain li a::before {
    font-size: 5em;
  }
}

@media (max-width: 900px) {
  .first__container__content h2 {
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .container__h1 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}

@media (max-width: 560px) {
  .container__home {
    width: 95%;
  }

  .first__container__content {
    width: 94%;
  }
} /* .container__home

.container__h1
.first__container__content
h1;
.first__container__content h2;
.first__container__contact;
.curtain;
.curtain li;
.curtain li a .fa-brands;
.curtain li a::before;

.codewars__paragraph */
