.navbar__container {
  width: 86vw;
  margin: 0 auto;
  height: 12vh;
  display: flex;
  min-height: 60px;
}

.navbarbox {
  width: 100%;
  box-shadow: inset 0px -2px 10px rgba(92, 94, 83, 0.35);
  /* background-color: red; */
  background-image: linear-gradient(to bottom right, #ebe6e1, #e2d1c3);
}
.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.navbar__elements {
  display: flex;
  width: 1000px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 0;
}

.link--nav {
  color: black;
  position: relative;
}

.link--home {
  position: relative;
}

.btn {
  padding: 0.67rem 2rem;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 5;
}

.btn::before {
  content: "";
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 5%;
  height: 1.5px;
  position: absolute;
  right: 0;
  z-index: 1;
  transition: transform 0.5s ease;
}
.btn::after {
  content: "";
  background-color: rgb(0, 0, 0);
  width: 100%;
  /* height: 5%; */
  height: 1.5px;
  position: absolute;
  right: 0;
  z-index: 1;
  transition: transform 0.5s ease;
}

.btn::before {
  top: 4%;
  transform: translateX(-100%);
  /* transform: translateX(0); */
}

.btn::after {
  bottom: 4%;
  transform: translateX(-100%);
  /* transform: translateX(0); */
}

.btn:hover::before,
.btn:hover::after {
  transform: translateX(0);
}

.navbar__element {
  padding: 0.5rem 4rem;
  font-size: 1.2rem;
  border-radius: 3%;
  cursor: pointer;
  color: black;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid rgba(124, 122, 122, 0.185);
  overflow: hidden;
  display: flex;
  /* background-color: red; */
  align-items: center;
  justify-content: center;
}

.navbar__element::before {
  content: "";
  background-color: rgb(10, 10, 10);
  width: 100%;
  height: 5%;
  position: absolute;
  z-index: -5;
  bottom: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.navbar__element:hover {
  transition: transform 0.5s ease;
}

.navbar__element:hover::before {
  transform: translateX(0);
}

.blackLine,
.blackLine2 {
  position: absolute;
  width: 100%;
  height: 3%;
  background-color: black;
  bottom: 1.5%;
}

.blackLine2 {
  top: 1.5%;
}

.navbar__element:hover {
  color: black;
  transition: transform 0.5s ease;
}

@media (max-width: 1500px) {
  .navbar__elements {
    width: 80%;
  }
  .navbar__element {
    padding: 0.3rem 3rem;
    font-size: 1.1rem;
  }

  .btn {
    padding: 0.6rem 1.8rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 1100px) {
  .navbar__container {
    width: 94vw;
  }
  .navbar__elements {
    width: 80%;
    margin-bottom: 8px;
  }
  .navbar__element {
    padding: 0.3rem 1.6rem;
    font-size: 1rem;
    height: 30px;
  }

  .btn {
    padding: 0.55rem 1.8rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 900px) {
  .navbar__elements {
    /* width: 90%; */
  }
  .navbar__element {
    padding: 0.1rem 1.2rem;
    font-size: 1rem;
  }

  .btn {
    padding: 0.6rem 1.8rem;
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .blackLine {
    color
  }
  .navbar {
    flex-direction: column;
  }
  .navbar__elements {
    flex-direction: column;
    height: auto;
  }
  .navbar__element {
    margin-top: 0;
    padding: 1rem 2rem;
    font-size: 1rem;
    width: 180px;
    width: 100vw;
    text-align: center;
  }
  .navbar__container {
    height: auto;
  }
  .link--home {
    margin: 7px;
    margin-top: 10px;
  }
  .btn {
    padding: 0.65rem 1.4rem;
    font-size: 1.2rem;
    width: 220px;
    width: 100vw;
    text-align: center;
  }
  .active {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
