.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio {
  width: 60%;
  border: 1px solid black;
  height: 80%;
}

.portfolio-container {
  border: 1px solid white;
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.portfolio__photo {
  border: 1px solid green;
  width: 200px;
  min-width: 200px;
  height: 200px;
  position: relative;
}

.portfolio__photo img {
  object-fit: cover;
  position: absolute;
  width: 200px;
  height: 200px;
}

.portfolio__photo img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.portfolio__text {
  width: 100%;
  height: 90%;
  border: purple 1px solid;
  display: flex;
  flex-direction: column;
}

.portfolio__technology {
  width: 10%;
  height: 80%;
  border: pink 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.portfolio__technology p {
  margin-bottom: 8%;
}

.text--heading {
  min-height: 20%;
  text-align: center;
  padding-top: 3%;
  font-size: 1.4rem;
  border: 1px black solid;
  padding-bottom: 2%;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.text--paragraph {
  flex-grow: 1;
  font-size: 1.1rem;
  border: 1px brown solid;
  padding: 2%;
  padding-left: 3%;
  letter-spacing: 0.5px;
  line-height: 120%;
}
