.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio {
  width: 60%;
  height: 90%;
}

.portfolio-container {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  position: relative;
}

.portfolio__photo {
  border: 1px solid green;
  width: 200px;
  min-width: 200px;
  height: 200px;
  position: relative;
  /*  */
}

.portfolio__photo img {
  object-fit: cover;
  position: absolute;
  width: 200px;
  height: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  align-items: center;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0;
  transition: all 0.2s ease;
}
.overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.171);
  color: white;
  cursor: pointer;
}

.portfolio__text {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.portfolio__technology {
  width: 10%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: 1.2rem;
}

.portfolio__technology p {
  margin-bottom: 8%;
}

.text--heading {
  min-height: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.text--paragraph {
  flex-grow: 1;
  font-size: 1.15rem;
  padding: 2%;
  padding-left: 3%;
  letter-spacing: 0.5px;
  line-height: 120%;
}
