/* ---------------------------------------------------------------------------- */
/* IMAGES CERTIFICATES */

:root {
  /* --bor: 1px solid black; */
}

.section {
  position: relative;
  border: var(--bor);
}

.testimonial img {
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: var(--bor);
  transition: all 0.5s;
}

.slider {
  /* min-height: 400px; */
  height: 700px;
  margin: 0 auto;
  width: 70%;
  position: relative;
  overflow: hidden;
  border: var(--bor);
}

.slide {
  position: absolute;
  top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--bor);
  z-index: 100;

  /* THIS creates the animation! */
  /* transition: transform 1s; */
  transition: none; /* Disable transition by default */
}

.slide-transition {
  transition: transform 1s; /* Enable transition when this class is added */
  /* border: var(--bor); */
}

.firstSlide {
  z-index: 5;
}

.slider__btn {
  position: absolute;
  top: 4%;
  z-index: 10;
  border: none;
  color: #faf7f7;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 20px;
  background-color: rgba(196, 170, 170, 0.575);
  aspect-ratio: 1;
  cursor: pointer;
  transition: all 0.5s;
}

.slider__btn--left {
  left: 10%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 10%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  left: 50%;
  top: 3%;
  transform: translateX(-50%);
  display: flex;
  z-index: 10;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: var(--spacing-lg);
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #ffffff;
  opacity: 1;
}

.container__slide__types {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.container__slide__types p {
  border: solid white 1px;
  padding: 0.5rem;
}

.buttons .active__certificates__button__one {
  box-shadow: inset 0 0 0 100vmax var(--_c);
  color: white;
}

.buttons .active__certificates__button__two {
  box-shadow: inset 0 0 0 100vmax var(--_c);
  color: white;
}

.hidden {
  display: none;
}

.buttons {
  display: flex;
  width: 500px;
  gap: 10px;
  --b: 4px;
  --h: 1.8em;
  transition: all 0.4s;
}

.buttons button {
  --_c: #b3afc0;
  flex: calc(1.25 + var(--_s, 0));
  font-size: 1rem;
  font-weight: bold;
  height: var(--h);
  cursor: pointer;
  color: var(--_c);
  border: var(--b) solid var(--_c);
  background: conic-gradient(
      at calc(100% - 1.3 * var(--b)) 0,
      var(--_c) 209deg,
      #0000 211deg
    )
    border-box;
  clip-path: polygon(0 0, 100% 0, calc(100% - 0.577 * var(--h)) 100%, 0 100%);
  padding: 0 calc(0.288 * var(--h)) 0 0;
  margin: 0 calc(-0.288 * var(--h)) 0 0;
  transition: flex 0.4s;
  z-index: 10;
}

.buttons button + button {
  --_c: #000000;
  flex: calc(0.95 + var(--_s, 0));
  background: conic-gradient(
      from -90deg at calc(1.3 * var(--b)) 100%,
      var(--_c) 119deg,
      #0000 121deg
    )
    border-box;
  clip-path: polygon(calc(0.577 * var(--h)) 0, 100% 0, 100% 100%, 0 100%);
  margin: 0 0 0 calc(-0.288 * var(--h));
  padding: 0 0 0 calc(0.288 * var(--h));
}

.buttons button:focus {
  outline: none;
}

button:hover,
button:active:not(:focus-visible) {
  --_s: 0.5;
}

button:active {
  box-shadow: inset 0 0 0 100vmax var(--_c);
  color: #fff;
}

/* OVERLAY */

#loadingOverlay {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  width: 100vw;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 150;
  padding-bottom: 200px;
}

.spinner {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid #cfd8dc;
  border-top-color: #3f51b5;
  animation: 0.8s spin infinite ease-in-out;
  z-index: 200;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  .slider__btn {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
  .dots__dot {
    width: 13px;
    height: 13px;
    margin-right: 20px;
  }
  .slider {
    width: 90%;
  }
  .testimonial img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .buttons {
    width: 300px;
  }
  .buttons button {
    font-size: 0.7rem;
  }
}

@media (max-width: 350px) {
  .buttons {
    width: 280px;
  }
  .slider__btn {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
  .dots__dot {
    width: 10px;
    height: 10px;
    margin-right: 16px;
  }
}
